body{
    font-family: 'Avenir'
}

nav{
    display: flex;
    align-items: center;
    outline: 1px solid darkgray;
}

nav h1 {
    justify-content: center;
    outline: 1px solid green;
}

.topLeft{
    display:flex;
    padding: 10px;
    margin-right: 85vh;
}

.topLeft ul {
    display: flex;
    align-items: center;
}

.topLeft ul li {
    margin: 7vh
}

.navbarLink {
    text-decoration: none;
    color: #333
} 

.navbarLink:hover {
    text-decoration: underline;
    color: black;
}

.topRight {
    display: flex;
}

.topRight ul{
    display: flex;
}

.topRight select, button {
    border-radius: 4px;
    background-color: white;
    margin: 3vh;
}

main {
    text-align: center;
}

main .join {
    font-weight: bold;
}

main h2 {
    font-size: 1.5rem;
}

.aboutUs p {
    margin: 0 auto;
    max-width: 75vh;
    text-align: center;
}

.newsLetter {
    text-align: center;
    margin-top: 5vw;
}

.newsLetter form input{
    border-radius: 2px;
}

footer {
    display: flex;
    margin-top: 5vw;
}

footer p {
    font-size: 0.9rem;
}

footer p strong {
    font-weight: bold;
}

footer ul {
    display: flex;
    margin-left: 130vh;
}

footer ul li {
    margin: 5px
}
