body{
    font-family: 'Avenir'
}

nav{
    max-width: 1200px;
    min-height: 125px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    border-bottom: 1px solid darkgray;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

h1 img {
    max-width: 12vh;
}

.topLeft{
    position: absolute;
    left: 1px;
    display: flex;
    padding: 10px;
}

.topLeft ul {
    display: flex;
    align-items: center;
}

.topLeft ul li {
    margin: 3vw
}

.navbarLink {
    text-decoration: none;
    color: #333
} 

.navbarLink:hover {
    text-decoration: underline;
    color: black;
}

.topRight {
    min-width: 300px;
    min-height: 30px;
    position: absolute;
    right: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topRight ul{
    min-height: 30px;
    min-width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topRight select, .topRight button {
    height: 25px;
    background-color: white;
    position: relative;
    border: none;
}

button {
    border-radius: 4px;
    background-color: white;
    border: none;
}

button:hover {
    cursor: pointer;
}

.cartLength {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 207px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

/* HomePage */

main {
    text-align: center;
}

.join {
    position: relative;
}
.join img {
    max-width: 1200px;
}

.join h2 {
    font-size: 2.0rem;
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%);
    bottom: 100px;
    border: 3px solid lightgrey;
    padding: 4px;
}

/* Main */

main ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

main figure img {
    margin-top: 10vh;
    width: 192px;
    height: 240px;
}

main .hidden {
    display: none;
}

main figure:hover .visible{
    display:none;
}

main figure:hover .hidden{
    display:inline;
}

main figcaption {
    font-size: 0.9rem;
    margin-top: 5px;
}

main .join {
    font-weight: bold;
    margin: 10px auto;
}

main h2 {
    font-size: 1.5rem;
}

main .trending {
    max-width: 1200px;
    margin: 100px auto;
}

h2, h3{
    font-weight: bold;
}

/* About Us Page */

.aboutUs {
    margin-top: 30px;
}

.aboutUs p {
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 500px;
    text-align: center;
    line-height: 7vh;
    
}

/* Shop Page */

.shop {
    max-width: 1200px;
    margin: 0 auto;
}

.shop h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: center;
}

.shop a {
    text-decoration: none;
    color: black;
}

.shop img {
    width: 216px;
    height: 270px;
    margin-top: 40px;
}  

.shop img:hover{
    transform: scale(1.1);
}

.shop figure:hover {
    text-decoration: underline;
    cursor: pointer
}

.shop .shopProducts {
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.shop figcaption {
    text-align: center;
    margin-top: 15px;
}

/* Articles Page */

.articlesPage {
    max-width: 1200px;
    margin: 0 auto;
}

.articlesPage img {
    height: 432px;
    display: inline;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.articlesPage button {
    border: 1px solid #333;
}

.articlesPage h2 {
    margin-top: 30px;
    font-size: 1.5rem;
}

.articleDisplay {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.articleDetails {
    display: block;
    max-width: 250px;
    height: 250px;
}

.articleDetails p {
    margin-top: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.articleDetails ol {
    margin-top: 30px;
}

.articleDetails li {
    font-style: italic;
    line-height: 19px;
}

.articleDetails input {
    width: 40px;
    border: none;
    margin-top: 30px;
}

/* Contact Us Page */

.contactUs h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: center;
}

.contactUs form {
    margin-top: 10px;
    text-align: center;
}

.contactUs form div input {
    min-width: 300px;
    margin-top: 7px;
    border-radius: 3px;
}

.contactUs button {
    border: 1px solid #333;
}

.contactUs form .comments textarea {
    resize: none;
    margin-top: 7px;
    min-width: 300px;
    min-height: 80px;
    font-size: 0.9rem;
    font-family: 'Avenir';
    border-radius: 3px;
}

.contactUs p {
    font-size: 0.6rem;
    font-style: italic;
    margin-top: 3px;
}

.contactUs button {
    margin-top: 10px;
    min-width: 80px;
}

.contactUsWrapper .contactUsOk {
    text-align: center;
    margin-top: 10vh;
}

/* Shopping Cart Page */

.shoppingCart {
    max-width: 1200px;
    margin: 0 auto;
}

.shoppingCart .shoppingArticles {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.shoppingCart h2 {
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: center;
}

.shoppingCart img {
    width: 173px;
    height: 216px;
}

.shoppingCart h3 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.shoppingCart button {
    border: 1px solid black
}

.shoppingCart .shoppingArticles div {
    text-align: center;
    margin-top: 3px;
}

.shoppingCart .grandTotal {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

/* NewsLetter */

.newsLetter {
    text-align: center;
    margin-top: 100px;
}

.newsLetter form input{
    min-width: 280px;
    margin-top: 10px;
    border-radius: 3px;
}

.newsLetter button {
    margin-left: 10px;
    min-width: 50px;
    border: 1px solid #333
}

.newsLetterWrapper p {
    text-align: center;
    margin-top: 10vh;
}

/* Footer */

footer {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid darkgray;
    padding-top: 20px;
}

footer p {
    font-size: 0.9rem;
}

footer p strong {
    font-weight: bold;
}

footer ul {
    display: flex;
}

footer ul li{
    margin: 5px;
}



/* desktop */
@media(min-width: 801px){
    .hamburgerMenu {
        display: none;
    }
}
/* tablet */
@media(min-width: 480px) and (max-width: 800px){
    .join img {
        max-width: 100%;
    }

    .hamburgerMenu {
        color: #000;
        position: relative;
        bottom: 0;
        right: 16vw;
    }

    .topLeft ul {
        display: none;
    }

    .topRight select {
        display: none;
    }

    .cartLength{
        bottom: 0;
        left: 25vw
    }

    main ul {
        display: grid;
        grid-template-columns: auto auto;
    }

    .shop .shopProducts {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto;
    }

    .shoppingCart .shoppingArticles {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }
}

/* smartphone */
@media(max-width: 480px){
    .join img {
        max-width: 100%;
    }

    .hamburgerMenu {
        color: #000;
        position: relative;
        bottom: 0;
        right: 19vw;
    }

    .topLeft ul {
        display: none;
    }

    .topRight select {
        display: none;
    }

    .cartLength{
        bottom: 0;
        left: 48vw
    }

    .navButtons .shoppingCartLink button {
        left: 14vw
    }
    
    main ul {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto 
    }

    .shop .shopProducts {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
    }

    .shoppingCart .shoppingArticles {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
}