body{
    font-family: 'Avenir'
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: 1px solid blue;
    border-bottom: 1px solid darkgray;
}

h1 {
    position: absolute;
    outline: 1px solid green;
}

h1 img {
    max-width: 12vh;
}

.topLeft{
    display: flex;
    padding: 10px;
    outline: 1px solid red;
}

.topLeft ul {
    display: flex;
    align-items: center;
}

.topLeft ul li {
    margin: 3vw
}

.navbarLink {
    text-decoration: none;
    color: #333
} 

.navbarLink:hover {
    text-decoration: underline;
    color: black;
}

.topRight {
    outline: 1px solid purple;
    display: flex;
}

.topRight ul{
    display: flex;
    font-family: 'Avenir'
}

.topRight select, button {
    border-radius: 4px;
    background-color: white;
}

button:hover {
    cursor: pointer;
}

main {
    text-align: center;
}

.join {
    position: relative;
}
.join img {
    max-width: 1200px;
}

.join h2 {
    font-size: 2.0rem;
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%);
    bottom: 100px;
}

main ul {
    display: flex;
    justify-content: space-around;
}

main figure img {
    margin-top: 10vh;
    max-width: 10vw;
    max-height: 25vh;
}

main figcaption {
    font-size: 0.9rem;
}

main .join {
    font-weight: bold;
    margin: 10px auto;
}

main h2 {
    font-size: 1.5rem;
}

main .trending {
    max-width: 1200px;
    margin: 100px auto;
}

h2, h3{
    font-weight: bold;
}

.aboutUs p {
    margin: 30px auto;
    max-width: 40vw;
    text-align: center;
}

.contactUs h2 {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.contactUs form {
    margin-top: 10px;
    text-align: center;
}

.contactUs form div input {
    border-radius: 3px;
}

.contactUs p {
    font-size: 0.6rem;
    font-style: italic;
}

.newsLetter {
    text-align: center;
    margin-top: 100px;
}

.newsLetter form input{
    border-radius: 3px;
}

footer {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: 0.9rem;
}

footer p strong {
    font-weight: bold;
}

footer ul {
    display: flex;
}

footer ul li{
    margin: 5px;
}
